<h2>Регистрация</h2>

<%= form_for(resource, :as => resource_name, :url => registration_path(resource_name)) do |f| %>
  <%= devise_error_messages! %>

  <div>
    <%= f.label "ФИО" %>
    <%= f.text_field :fio %>
  </div>
  <br />

  <div>
    <%= f.label :email %>
    <%= f.email_field :email, :autofocus => true %>
  </div>
  <br />

  <div>
    <%= f.label "Пароль" %>
    <%= f.password_field :password %>
  </div>
  <br />

  <div>
    <%= f.label "Подтвердите пароль" %>
    <%= f.password_field :password_confirmation %>
  </div>
  <br />

  <div>
    <div>
      <%= f.radio_button :user_role, "user", class: "role" %>
      Студент
    </div>
    <br>
    <div>
      <%= f.radio_button :user_role, "tutor", class: "role" %>
      Преподаватель
    </div>
  </div>
  <br />


  <div class="student-fields <%= 'hidden' if resource.user_role == "tutor" %>">
    <div class="department" data-departments='<%= groups_list.to_json %>'>
      <%= f.label "Факультет" %>
      <%= f.select :department_id, options_for_select(Department.all.map {|d| [d.title, d.id]}), html: { id: "department" } %>
      <br />
    </div>

    <div class="course hidden">
      <%= f.label "Курс" %>
      <%= f.select :course,  options_for_select([[1,1], [2,2], [3,3], [4,4], [5,5],[6,6]] )%>
      <br />
    </div>

    <div class="group hidden">
      <%= f.label "Группа" %>
      <%= f.select :group, groups_list %>
      <br />
    </div>
  </div>

  <div>
    <br />
    <%= f.submit "Применить" %>
  </div>
<% end %>

<%= render "devise/shared/links" %>
