%h3
  Успеваемость студентов
%h5
  Дисциплина "Общая хиругия"

= form_tag "/students", method: :get do
  .inputs
    = label_tag "Факультет"
    = select_tag :department, options_for_select(Department.all.map {|d| [d.title, d.id]}, params[:department])
    = label_tag "Курс"
    = select_tag :course, options_for_select([[1,1], [2,2], [3,3], [4,4], [5,5],[6,6]], params[:course])
    = label_tag "Группа"
    = select_tag :group, options_for_select(groups_list, params[:group])
  .action
    = submit_tag "Ok", class: "btn btn-primary"


- unless @students.empty?
  %table.table.table-bordered.table-hover
    %tr
      %th{rowspan: 2}= "ФИО"
      %th{colspan: @department.first_semester_seminars_num}= "Семинары"
      %th{rowspan: 2}= "I"
      %th{colspan: @department.second_semester_seminars_num}= "Семинары"
      %th{rowspan: 2}= "II"
      %th{rowspan: 2}= "История болезни"
      %th{rowspan: 2}= "Предв. рейтинг"
      %th{colspan: 3}= "Экзамен"
      %th{rowspan: 2}= "Рейтинг после экз."
      %th{rowspan: 2}= "Общий рейтинг"
    %tr
      - @department.first_semester_seminars_num.times do |i|
        %th= i + 1
      - @department.second_semester_seminars_num.times do |i|
        %th= i + 1
      %th= "Тест"
      %th= "Практика"
      %th= "Теория"

    - @students.each do |stud|
      %tr{"data-student-id" => stud.id}
        %td
          = stud.name
          = link_to student_path(stud), method: :delete, confirm: "Вы точно хотите удалить студента?" do
            %i.icon-remove

        - @department.first_semester_seminars_num.times do |i|
          %td.mark.seminar.i-sem
            = mark_box(stud.first_sem_seminars[i], 10, true)
        %td.i-semester.yellow.cell{"data-field-name" => "i_semester"}= mark_box(stud.i_semester_result, 10, true)

        - @department.second_semester_seminars_num.times do |i|
          %td.mark.seminar.ii-sem
            = mark_box(stud.second_sem_seminars[i], 10, true)
        %td.ii-semester.green.cell{"data-field-name" => "ii_semester"}= mark_box(stud.ii_semester_result, 10, true)

        %td.illness-history.cell{"data-field-name" => "illness_history"}= mark_box(stud.illness_history, 10, true)
        %td.before-rate= stud.before_rate
        %td.exam-test.cell{"data-field-name" => "exam_test"}= mark_box(stud.exam_test, 10, false)
        %td.exam-practice.cell{"data-field-name" => "exam_practice"}= mark_box(stud.exam_practice, 10, false)
        %td.exam-theory.cell{"data-field-name" => "exam_theory"}= mark_box(stud.exam_theory, 10, false)
        %td.after-rate= stud.rate_after
        %td.common-rate= stud.common_rate

  - if can? :manage, Student
    %h3= "Добавить студента"
    = form_for Student.new do |f|
      = f.label :name, "ФИО"
      = f.text_field :name
      = f.hidden_field :department_id, value: @department.id
      = f.hidden_field :course, value: params[:course]
      = f.hidden_field :group_num, value: params[:group]
      = f.submit "Добавить", class: "btn btn-primary"

