%table.table.table-bordered
  %tr
    %th= "Email"
    %th= "Действия"
  - @users.each do |user|
    %tr{class: "#{'red' if user.guest? || user.pending_tutor? }"}
      %td
        %span.label= user.state
        = user.email
      %td
        = button_to "Сделать администратором", make_admin_user_path(user), method: :put, class: "btn btn-danger", confirm: "Вы точно хотите сделать пользователя администратором?" unless user.admin?
        = button_to "Сделать пользователем", make_user_user_path(user), method: :put, class: "btn btn-primary" unless user.user?
        = button_to "Сделать преподавателем", make_tutor_user_path(user), method: :put, class: "btn btn-success" unless user.tutor?
