= semantic_form_for @page do |f|
  = f.inputs do
    = f.input :title, label: "Заголовок"
    = f.input :body, :as => :ckeditor, label: "Тело"
    -#= f.input :permalink, label: "Пермалинк"
  = f.actions do
    = f.action :submit, label: "Применить", button_html: { class: "btn btn-primary" }
