%ul.nav
  %li{ class: params[:controller] == "main" ? "active" : "" }
    = link_to('Главная', root_path)
  %li{ class: params[:controller] == "articles" ? "active" : "" }
    = link_to('Новости', news_path)
  %li{ class: params[:controller] == "history" ? "active" : "" }
    = link_to('История кафедры', history_path)
  %li{ class: params[:controller] == "" ? "active" : "" }
    = link_to('Состав сотрудников', staff_path)
  %li{ class: params[:controller] == "bases" ? "active" : "" }
    = link_to('Базы кафедры', bases_path)
  %li{ class: params[:controller] == "" ? "active" : "" }
    = link_to('Учебные материалы', "#")
  %li{ class: params[:controller] == "" ? "active" : "" }
    = link_to('Успеваемость студентов', "#")

