%ul.nav
  %li{ class: params[:controller] == "main" ? "active" : "" }
    = link_to('Главная', root_path)
  - if signed_in? && current_user.admin?
    %li{ class: params[:controller] == "users" ? "active" : "" }
      = link_to('Пользователи', users_path)
  %li{ class: params[:controller] == "articles" ? "active" : "" }
    = link_to('Новости', news_path)
  %li{ class: params[:controller] == "history" ? "active" : "" }
    = link_to('История кафедры', history_path)
  %li{ class: params[:controller] == "" ? "active" : "" }
    = link_to('Состав сотрудников', staff_path)
  %li{ class: params[:controller] == "bases" ? "active" : "" }
    = link_to('Базы кафедры', bases_path)
  %li{ class: params[:controller] == "materials" ? "active" : "" }
    = link_to('Учебные материалы', materials_path)
  - if can? :read, Student
    %li{ class: params[:controller] == "students" ? "active" : "" }
      = link_to('Успеваемость студентов', students_path)

