!!!
%html
  %head
    %meta{:charset => "utf-8"}
    %meta{:name => "viewport", :content => "width=device-width, initial-scale=1, maximum-scale=1"}
    %title= content_for?(:title) ? yield(:title) : "cathedra"
    %meta{:content => "", :name => "description"}
    %meta{:content => "", :name => "author"}
    = stylesheet_link_tag "application", :media => "all"
    = stylesheet_link_tag "themes/blue", :media => "all"
    = javascript_include_tag "application"
    = csrf_meta_tags
    = yield(:head)
  %body
    %header.navbar
      .page-header
        %h3
          = "Кафедра общей хирургии ВГМА"
          - if signed_in?
            %small
              = "Добро пожаловать, #{current_user.email}"
              = link_to "Выход", destroy_user_session_path, class: "", method: :delete
      %nav.navbar-inner
        .container
          = render 'layouts/navigation'

    #main{:role => "main"}
      .container-fluid
        .row-fluid
          - unless signed_in?
            .span3
              .well.sidebar-nav
                = form_tag session_path(User.new) do
                  = label_tag(:email, "Email")
                  = text_field_tag("user[email]")
                  = label_tag(:password, "Пароль")
                  = password_field_tag("user[password]")
                  = submit_tag("Войти", class: "btn btn-primary")
                = link_to "Регистрация", new_user_registration_path
          %div{class: "#{signed_in? ? 'span12' : 'span9'}"}
            = render 'layouts/messages'
            = yield
          %footer
